body {
    background-color: #f9f9fa
}

.flexeyd {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .paddingeyd {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .paddingeyd {
        padding: 1rem
    }
}

.paddingeyd {
    padding: 5rem
}

.cardeyd {
    background: #fff;
    border-width: 0;
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    margin-bottom: 1.5rem
}

.cardeyd {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(19, 24, 44, .125);
    border-radius: .25rem
}

.list-itemeyd {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word
}

.list-itemeyd .blockeyd .mediaeyd {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.list-itemeyd.blockeyd .list-contenteyd {
    padding: 1rem
}

.w-40eyd {
    width: 40px !important;
    height: 40px !important
}

.avatareyd {
    position: relative;
    line-height: 1;
    border-radius: 500px;
    white-space: nowrap;
    font-weight: 700;
    border-radius: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 500px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, .15)
}

.avatareyd imgeyd {
    border-radius: inherit;
    width: 100%
}

.gd-primaryeyd {
    color: #fff;
    border: none;
    background: #448bff linear-gradient(45deg, #448bff, #44e9ff)
}

.flexeyd {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.text-coloreyd {
    color: #5e676f
}

.text-smeyd {
    font-size: .825rem
}

.h-1xeyd {
    height: 1.25rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}

.no-wrapeyd {
    white-space: nowrap
}

.list-roweyd .list-itemeyd {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    padding: .75rem .625rem
}

.list-itemeyd {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word
}

.list-roweyd .list-itemeyd>* {
    padding-left: .625rem;
    padding-right: .625rem
}

.dropdowneyd {
    position: relative
}

a:focus,
a:hover {
    text-decoration: none
}

list-itemeyd {
    background: white
} 